<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "2FA App" %></title>
    <!-- Default title if not provided -->
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <% if (user) { %>
      <a href="/logout">Logout</a>
      <% } else { %>
      <a href="/login">Login</a>
      <% } %>
    </header>
    <div class="container"><%- body %></div>
  </body>
</html>
